@tailwind base;
@tailwind components;
@tailwind utilities;

@screen sm {
	.screen-resolver {
		--type: 'sm';
	}
}

@screen md {
	.screen-resolver {
		--type: 'md';
	}
}

@screen lg {
	.screen-resolver {
		--type: 'lg';
	}
}

@screen xl {
	.screen-resolver {
		--type: 'xl';
	}
}

@screen 2xl {
	.screen-resolver {
		--type: '2xl';
	}
}
